@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.button-style {
  background-color: #FF5722;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #383838;
  color: whitesmoke;
  flex-direction: column;
}

.create-form label {
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

/* Стили для контейнера списка карточек */
.read-container {
  margin-top: 20px;
  padding-top: 115px; 
  overflow-y: scroll;
}

/* Стили для шапки */
.read-container h2 {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFF; 
  padding: 20px;
  z-index: 1;
}

/* Стили для контейнера списка карточек */
.card-container {
  display: flex;
  min-width: 600px;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 5px; 
  justify-content: center;
}

/* стили для карточек */
.card-container .card {
  width: calc(2/3 * 100% - 20px); /* 2/3 ширины экрана с учетом промежутков между карточками */
  margin-bottom: 15px;
  background-color: #FFF; /* Цвет фона  */
  color: #212121; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 10px;
  text-align: center; 
  border-radius: 15px; 
  overflow: hidden; 
}


.card-container .card .card-buttons {
  display: flex;
  justify-content: space-between; /* Равномерное распределение пространства между кнопками */
  margin-top: 15px;
}

.card-container .card .card-buttons button {
  background-color: #FF8C00; /* Цвет фона кнопок*/
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  cursor: pointer;
  border: none; 
  outline: none; 
}

.card-container .card .card-buttons button:hover {
  background-color: #FF5722;
}

.card-container .card .card-buttons button:first-child {
  margin-right: 15px; 
}

.search-bar {
  width: 80%; 
  margin: 60px auto; /* Центрирует по горизонтали и добавляет отступ сверху */
  border-radius: 20px; 
  position: fixed; /* Фиксированное положение */
  top: 20px; /* Фиксированный отступ сверху */
  left: 50%; /* Центрирует относительно родительского элемента */
  transform: translateX(-50%); /* Центрирует по горизонтали */
  padding: 10px; /* Добавляет отступы внутри строки поиска */
  background-color: whitesmoke; /* Цвет фона */
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* Размер текста */
  border: none;
}

.search-bar input {
  font-family: 'Montserrat', sans-serif;
  width: 90%;
  margin-left: 20px;
  background-color: whitesmoke;
  font-size: 16px;
  color: #212121;
  border: none; 
  outline: none; 
}

.pagination-info {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  bottom: 10px; 
  left: 20px; 
  background-color: 383838;
  padding: 10px;
  font-size: 13px;
  color: whitesmoke;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.switcher-pages {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  bottom: 10px; 
  right: 20px; 
  background-color: #383838;
  font-size: 13px;
  color: #212121;
  border-radius: 5px;
}

.switcher-button {
  background-color: #383838; 
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  cursor: pointer;
  border: none; 
  outline: none; 
}





